.introduce {
  background-color: #fff0f6;
  padding: 50px 0px;
  box-sizing: border-box;
}

.introduce-container {
  .introduce-content {
    h1 {
      color: #d82d8b;
      font-size: 34px;
    }

    ol {
      list-style-type: none;
      margin-bottom: 30px;
      counter-reset: item;

      li {
        counter-increment: item;
        margin-bottom: 5px;
        span {
          font-weight: bold;
        }
      }

      li:before {
        margin-right: 10px;
        content: counter(item);
        background: #d82d8b;
        border-radius: 100%;
        color: white;
        width: 1.4em;
        text-align: center;
        display: inline-block;
        margin-bottom: 8px;
      }
    }

    button {
      color: #fafafa;
      word-spacing: 2px;
      background-color: #d82d8b;
      border: 2px solid #d82d8b;
      &:hover {
        opacity: 0.9;
        border: 2px solid #fafafa;
      }
    }
  }

  .introduce-image {
    margin-left: 10px;
  }
}
