.modal-city {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.5);

  .main {
    height: 380px;
    width: 850px;
    padding: 10px 35px;
    box-sizing: border-box;
    background: #fafafa;

    .header {
      padding: 20px 0px;
      > i {
        cursor: pointer;
      }
    }

    .content {
      overflow-y: auto;
      .search {
        width: 220px;
        input {
          width: 100%;
          height: 35px;
          padding: 15px;
          box-sizing: border-box;
          border: 1px solid #e5e5e5;
          border-radius: 5px;
          background: transparent
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
            no-repeat right;
          background-origin: content-box;
          background-color: #fbfafa;
        }
      }

      .city-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .city {
          margin-right: 20px;
          margin-bottom: 20px;
          padding: 10px;
          box-sizing: border-box;
          min-width: 160px;
          border-radius: 5px;

          &:hover {
            background-color: rgb(231, 230, 230);
            cursor: pointer;
          }

          &.active {
            border: 1px solid #d82d8b;
            color: #d82d8b;
            font-weight: bold;
          }
        }
      }
    }

    .footer {
      background-color: #fafafa;
      button {
        padding: 10px 20px;
        color: white;
        background-color: #d82d8b;
        font-weight: bold;
        border: none;
        border-radius: 5px;
      }
    }
  }
}
