.movie-details {
  @mixin set-line-paragraph($line, $word-space-px) {
    word-spacing: $word-space-px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    line-clamp: $line;
    -webkit-box-orient: vertical;
  }
  .header-details {
    .banner {
      min-height: 50vh;
      background-position: 50%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      overflow: hidden;
      &:after {
        content: "";
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(
          to right,
          rgb(177, 177, 177, 0.8) 150px,
          rgba(0, 0, 0, 0.6) 100%
        );
      }
      i {
        display: none;
        font-size: 70px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        cursor: pointer;
        transition: all 0.2s linear;
      }
      &:hover {
        i {
          display: block;
          color: rgba(250, 250, 250, 0.69);
        }
      }
    }
    .title {
      > div {
        width: 1200px;
      }
      background: #fafafa;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.347);
      $size-avatar: 280px;
      .poster {
        z-index: 10;
        width: $size-avatar;
        bottom: 15%;
        border-radius: 6px;
        cursor: pointer;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;

          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .info {
        margin-left: $size-avatar;
        span {
          border-radius: 12px;
          color: #fff;
          padding: 3px 10px;
        }
        .age-p {
          background-color: rgb(87, 155, 65);
        }
        .age-13 {
          background-color: rgb(221, 188, 63);
        }
        .age-16 {
          background-color: rgb(232, 128, 33);
        }
        .age-18 {
          background-color: rgb(155, 32, 32);
        }
        .des {
          line-height: 1.6em;
          @include set-line-paragraph(3, 4px);
        }

        button {
          padding: 6px 50px;
          margin-top: 15px;
          color: #fafafa;
          word-spacing: 2px;
          background-color: #d82d8b;
          border: 2px solid #d82d8b;
          border-radius: 10px;
        }
      }
    }
  }

  .main-detail {
    $size-cinema: 800px;
    .title {
      width: $size-cinema;
      h1 {
        color: #d82d8b;
        span {
          font-weight: normal;
        }
      }
      .location {
        > div {
          border: 1px solid #d82d8b;
          color: #d82d8b;
          border-radius: 4px;
          padding: 5px 15px;
          cursor: pointer;
        }
      }
    }
    .main {
      border: 1px solid #e5e5e5;
      border-radius: 10px;
      box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
      width: $size-cinema;

      .brands-list {
        .brand-item {
          width: 62px;
          img {
            border: 1px solid #bcbaba;
            opacity: 0.8;
            padding: 3px;
            border-radius: 10px;
            &.active {
              border: 1px solid #d82d8b;
              opacity: 1;
            }
          }

          p {
            opacity: 0.8;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.active {
              color: #d82d8b;
              font-weight: bold;
              opacity: 1;
            }
          }
        }
      }

      .list-dates {
        display: grid;
        grid-template-columns: repeat(11, minmax(0, 1fr));
        .date-item {
          cursor: pointer;
          color: rgb(163 163 163);
          border-radius: 6px;
          border: 1px solid rgb(212, 212, 212);
          background: #fff;
          :first-child {
            background: rgb(245 245 245);
          }
          &.active {
            border: 1px solid #d82d8b;
            :first-child {
              color: #fff;
              background: #d82d8b;
            }
            :last-child {
              color: #d82d8b;
            }
          }
        }
      }

      .cinemas-list {
        max-height: 500px;
        overflow-y: scroll;
        .cine-item {
          .info-cine {
            cursor: pointer;
            &:hover {
              background: #fafafa;
            }

            img {
              width: 40px;
              height: 40px;
              border: 1px solid #e5e5e5;
              border-radius: 5px;
              flex: none;
            }
            .name {
              flex: 1 1 0%;
              p {
                @include set-line-paragraph(1, 1px);
                color: rgba(115, 115, 115, 0.681);
              }
              span {
                cursor: pointer;
                color: #3b82f6;
                font-size: 14px;
                font-weight: normal;
                transition: all 0.2s ease-in;
                opacity: 0.8;
                margin-left: 5px;
                &:hover {
                  color: #1d4ed8;
                  opacity: 1;
                }
              }
            }
            .icon {
              color: #a3a3a3;
            }
          }
          .list-showtime {
            > div > div {
              display: grid;
              grid-template-columns: repeat(5, minmax(0, 1fr));
              gap: 10px;

              .showtime-item {
                cursor: pointer;
                border-radius: 6px;
                background: rgba(224, 242, 254, 0.05);
                border: 1px solid rgb(56, 189, 248);
                white-space: nowrap;
                color: rgb(2, 132, 199);
              }
            }
          }
        }

        // height: 550px;
        // overflow-y: scroll;
      }
    }
    .divider {
      border-bottom: 1px solid #e5e5e5;
    }
  }
  // .listCinema {
  //   h1 {
  //     color: #d82d8b;
  //   }
  //   $size-cinema: 800px;

  //   .main {
  //     border: 1px solid #e5e5e5;
  //     border-radius: 10px;
  //     box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
  //     width: $size-cinema;
  //     .location {
  //       .city {
  //         border: 1px solid #d82d8b;
  //         color: #d82d8b;
  //         border-radius: 4px;
  //         padding: 5px 15px;
  //         cursor: pointer;
  //       }
  //     }

  //     .brands-list {
  //       .brand-item {
  //         cursor: pointer;
  //         width: 62px;
  //         img {
  //           border: 1px solid #bcbaba;
  //           opacity: 0.8;

  //           padding: 3px;
  //           border-radius: 10px;
  //           &.active {
  //             border: 1px solid #d82d8b;
  //             opacity: 1;
  //           }
  //         }

  //         p {
  //           opacity: 0.8;
  //           overflow: hidden;
  //           text-overflow: ellipsis;
  //           white-space: nowrap;
  //           &.active {
  //             color: #d82d8b;
  //             font-weight: bold;
  //             opacity: 1;
  //           }
  //         }
  //       }
  //     }

  //     .search {
  //       input {
  //         height: 40px;
  //         border: 1px solid #e5e5e5;
  //         border-radius: 5px;
  //         background: transparent
  //           url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
  //           no-repeat right;
  //         background-origin: content-box;
  //         background-color: #fbfafa;
  //       }
  //     }

  //     .cinema-list {
  //       a {
  //         color: black;
  //         text-decoration: none;
  //       }

  //       height: 550px;
  //       overflow-y: scroll;
  //       .cinema-item {
  //         padding: 12px;
  //         border-bottom: 1px solid #e5e5e5;
  //         img {
  //           width: 40px;
  //           height: 40px;
  //           border: 1px solid #e5e5e5;
  //           border-radius: 5px;
  //         }
  //         > div {
  //           p {
  //             font-size: 14px;
  //             opacity: 0.65;
  //             text-overflow: ellipsis;
  //             overflow: hidden;
  //             width: calc($size-cinema - 150px);
  //             white-space: nowrap;
  //           }
  //         }
  //       }
  //     }
  //   }
  //   .divider {
  //     border-bottom: 1px solid #e5e5e5;
  //   }
  // }
}
