.cineplex {
  @mixin set-line-paragraph($line, $word-space-px) {
    word-spacing: $word-space-px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    line-clamp: $line;
    -webkit-box-orient: vertical;
  }

  h1 {
    color: #d82d8b;
  }

  .main {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
    width: 800px;

    .location {
      h3 {
        text-align: start;
        line-height: 24px;
      }
      .city {
        cursor: pointer;
        border: 1px solid #d82d8b;
        color: #d82d8b;
        border-radius: 4px;
      }
    }

    .brands-list {
      .brand-item {
        cursor: pointer;
        width: 62px;
        img {
          border: 1px solid #bcbaba;
          opacity: 0.8;
          padding: 3px;
          border-radius: 10px;
          &.active {
            border: 1px solid #d82d8b;
            opacity: 1;
          }
        }

        p {
          opacity: 0.8;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.active {
            color: #d82d8b;
            font-weight: bold;
            opacity: 1;
          }
        }
      }
    }

    .search {
      input {
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        background: transparent
          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
          no-repeat right;
        background-origin: content-box;
        background-color: #fbfafa;
      }
    }

    .cineplex-list {
      box-sizing: border-box;
      padding-right: 10px;

      max-height: 550px;
      overflow-y: scroll;
      .cineplex-item {
        cursor: pointer;
        padding: 12px;
        img {
          width: 40px;
          height: 40px;
          border: 1px solid #e5e5e5;
          border-radius: 5px;
        }
        .cineplex-item__info {
          h4 {
            font-size: 16px;

            span {
              cursor: pointer;
              color: #3b82f6;
              font-size: 14px;
              font-weight: normal;
              transition: all 0.2s ease-in;
              opacity: 0.8;
              margin-left: 5px;
              &:hover {
                color: #1d4ed8;
                opacity: 1;
              }
            }
          }

          p {
            opacity: 0.65;
            @include set-line-paragraph(1, 2px);
          }
        }
        border-bottom: 1px solid #e5e5e5;
      }
    }
  }
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
