.modal-booking-ticket {
  > div {
    width: 1200px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
  }

  h3 {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
    background: #d82d8b;
  }

  .center {
    background-color: #262626;
    min-height: 300px;
    color: white;

    .screen {
      p {
        border-top: 1px dashed #fff;
        margin: 0 auto;
      }
    }

    .seats {
      .seats-list {
        .seats-row {
          .seats-item {
            cursor: pointer;
            border-radius: 2px;
            margin-right: 6px;
            width: 35px;
            max-width: 35px;
          }

          .couple-seats {
            display: flex;
            margin-right: 12px;

            .seats-item {
              margin-right: -3px;
            }
          }
        }
      }
    }

    .seats-note {
      .note-item {
        .seats {
          border-radius: 4px;
          width: 25px;
          height: 25px;
          margin-right: 6px;
        }
      }
    }

    .standard {
      border: 1px solid #722ed1;
      background-color: #722ed1;
    }
    .couple {
      border: 1px solid rgb(245, 34, 45);
      background-color: rgb(245, 34, 45);
    }
    .sold-out {
      cursor: no-drop !important;
      background-color: #404040;
      border: 1px solid #404040;
    }
    .selected {
      background-color: #d82d8b;
      border: 1px solid white !important;
    }
  }

  .footer-ticket {
    // background-color: white;

    .film-info {
      border-bottom: 1px solid lightgray;
      span {
        color: #fff;
        font-weight: 400;
        padding: 2px 8px;
        border-radius: 6px;
      }
      .age-p {
        background-color: rgb(87, 155, 65);
      }
      .age-13 {
        background-color: rgb(221, 188, 63);
      }
      .age-16 {
        background-color: rgb(232, 128, 33);
      }
      .age-18 {
        background-color: rgb(155, 32, 32);
      }
      .schedule {
        color: #f97316;
      }
    }

    .seats {
      border-bottom: 1px solid lightgray;

      p {
        opacity: 0.7;
        font-size: 14px;
      }

      .seat-list {
        border: 1px solid lightgray;
        span {
          margin-left: 8px;
          cursor: pointer;
          color: rgb(245, 7, 7);
          font-weight: bold;
        }
      }
    }

    .total-price {
      p {
        opacity: 0.7;
      }
      button {
        transition: all 0.2s ease-in-out;
        color: white;
        background-color: #d82d8b;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
