.login {
  background-size: cover;
  background-image: url("../img/bg-login.jpg");
  // width: 100vw;
  // background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/5e48e7b6-350d-48d9-96d6-de8ca173c89f/e39414f0-9714-4480-8e82-119dc943cfc1/VN-vi-20221219-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  // filter: brightness(90%);
  .main-form {
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    width: 400px;
    padding: 60px 50px;
    color: #fff;

    .form-group {
      input {
        color: #fff;
        outline: none;
        background: rgba(20, 20, 20, 0.708);
        &:focus {
          background: #454545;
        }
      }
    }

    button {
      color: #fff;
      letter-spacing: 2px;
      background-image: linear-gradient(
        to right,
        #eb3941,
        #f15e64,
        #e14e53,
        #e2373f
      );
      background-size: 300% 100%;
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      &:focus {
        outline: none;
      }
      &:hover {
        background-position: 100% 0;
        moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
    }
    a {
      color: #0646af;
      transition: all 0.2s ease-in;
      opacity: 0.8;
      &:hover {
        color: #8ca8f6;
        opacity: 1;
      }
    }

    .x-cancel {
      cursor: pointer;
      color: rgba(245, 245, 245, 0.8);
      right: -20px;
      top: -20px;
    }
  }
}
