.page-not-found {
  background-image: url("./img/error6-bg.jpg");
  background-size: auto;
  background-position: center bottom;
  opacity: 1;
  animation: shift 4s infinite linear;

  @keyframes shift {
    0% {
      background-position: 0 center;
    }
    25% {
      opacity: 0.2;
    }

    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.6;
    }

    100% {
      background-position: -960px center;
      opacity: 1;
    }
  }
  > div {
    flex: 1;
  }
  .content-not-pound {
    margin: auto 0;
    a {
      background: #e62429;
      border-radius: 10px;
      color: #fafafa;
      z-index: 100;
    }

    .test {
      overflow: hidden;
      white-space: nowrap;
      border-right: 0.25rem solid #fff;
      font-size: 3rem;
      font-weight: 700;
      animation: typing 4s infinite linear, blinking 1s infinite;
    }

    @keyframes typing {
      0%,
      100% {
        width: 0;
      }

      50%,
      90% {
        width: 100%;
      }
    }

    @keyframes blinking {
      0%,
      100% {
        border-color: transparent;
      }

      50% {
        border-color: #fff;
      }
    }
  }
  .img-not-pound {
    background-size: contain;
    background-image: url("./img/error6.png");
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}
