.footer {
  background: #edf2f9;
  border-top: 1px solid #cacdd1;
  margin-top: auto;

  .iconSize {
    width: 35px;
    cursor: pointer;
  }

  .footer-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    > div {
      h6 {
        font-size: 18px;
        border-left: 4px solid salmon;
      }

      p {
        word-spacing: 2px;
        line-height: 22px;
      }

      a {
        color: black;
      }

      .app {
        cursor: pointer;

        p {
          line-height: 16px;
        }
      }
    }
  }

  .footer-bottom {
    color: #95aac9;
    .certificate {
      img {
        width: 120px;
      }
    }
  }
}
