.modalMap {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.5);

  > div {
    background: #fafafa;
    width: 800px;

    span {
      cursor: pointer;
      right: 0;
      bottom: 0;
    }

    button {
      cursor: pointer;
      color: #fff;
      background: #c1177c;
      transition: all 0.1s linear;
      &:hover {
        background: #a50064;
      }
    }

    iframe {
      border: 0;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
    }
  }
}
