.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.5);
  &.show {
    display: flex;
  }

  > div {
    background: #fafafa;
    width: 800px;

    iframe {
      border-radius: 4px;
    }
    .content {
      .poster {
        flex: 1 0 10%;
        img {
          width: 100px;
        }
      }
      .desc {
        h5 {
          letter-spacing: 1px;
        }
        p {
          word-spacing: 3px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          line-clamp: 4;
          -webkit-box-orient: vertical;
        }
        .btn {
          margin-top: auto;

          a,
          button {
            font-family: "Nunito", sans-serif;
            cursor: pointer;
            border-radius: 4px;
            box-shadow: 4px 4px 4px #c5c5c5, -4px -4px 4px #fff;
            transition: all 0.2s;
            &:active {
              transform: scale(0.95);
            }
          }
          :nth-child(1) {
            background: #eb455f;
            color: #fff;
            border: 2px solid #eb455f;

            &:hover {
              border: 2px solid #fcffe7;
              background-image: linear-gradient(
                160deg,
                #eb455f 0%,
                #f57285 60%,
                #fff 100%
              );
            }
          }
          :nth-child(2) {
            background: #eafdfc;
            color: #69a4f6;
            border: 2px solid #eafdfc;

            &:hover {
              border: 2px solid #9ee8f6;
              background-image: linear-gradient(
                160deg,
                #bfeaf5 0%,
                #eafdfc 50%,
                #fff 100%
              );
            }
          }
        }
      }
    }
    .btn-close {
      color: rgba(221, 221, 221, 0.75);
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: rgba(242, 242, 242, 0.9);
      }
    }
  }
}
