.movie-showing {
    height: 400px;
    background-image: url('https://static.mservice.io/img/momo-upload-api-211001091715-637686766356856456.jpg');
    background-size: cover;

    color: white;

    padding: 40px 0px;
    box-sizing: border-box;

    h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .film-list {

        display: flex;



        .film-item {
            
            margin-right: 20px;

            .image {
                width: 260px;
                height: 160px;
                overflow: hidden;
                margin-bottom: 16px;
                border-radius: 5px;
                cursor: pointer;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;

                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }

            img:hover {
                transform: scale(1.1);
            }

            h4 {
                font-weight: normal;
            }

            p {
                opacity: 0.6;
                font-size: 14px;
            }
        }
    }
}