@mixin set-line-paragraph($line, $word-space-px) {
  word-spacing: $word-space-px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin effect-hover {
  &:hover {
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    transform: scale(1.05);
    opacity: 1;
    transition: all 230ms ease-in-out;
  }
}

@mixin style-border($position, $size: 1px, $color: gray) {
  border-#{$position}: $size solid $color;
}

.main {
  .short-desc {
    color: #525252;
    @include set-line-paragraph(2, 3px);
  }
  .feature-blog {
    @include style-border(bottom);
    > div {
      opacity: 0.8;
      flex: 1;
      img {
        border-radius: 10px;
      }
      @include effect-hover;
    }
  }

  .content {
    .list-post {
      width: 65%;
      > div {
        @include style-border(bottom);
        img {
          width: 230px;
        }
      }
    }

    .post-topview {
      width: 35%;
      img {
        background-size: cover;
        width: 150px;
        opacity: 0.85;
      }

      > div {
        .line-header {
          @include style-border(top, $color: rgb(212 212 212));
        }
        .poster {
          align-self: stretch;
          span {
            color: #fff;
            bottom: 0;
            left: 10px;
          }
        }
        .title {
          @include set-line-paragraph(3, 3px);
        }
      }
    }
  }
}
