.main-home {
  .btn-choose {
    button {
      background: 0;
      transition: all 0.2s ease-in-out;
      span {
        transition: all 0.2s;
      }

      &.active {
        color: #d82d8b;
      }
      &:not(.active):hover {
        color: rgba(212, 104, 163, 0.5);
      }
    }
  }
  .list-movie {
    .btnMovies a {
      padding: 6px 30px;
      color: #fb4226;
      border: 1px solid #fb4226;
      border-radius: 999px;
      cursor: pointer;

      &:hover {
        transition: all 0.3s ease-out;
        color: #fff;
        background: #fb4226;
      }
    }
  }
}
