.cinema-page {
  $icon-search-svg: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E";
  h1 {
    color: #d82d8b;
  }
  $size-cinema: 800px;

  .main {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
    width: $size-cinema;
    .location {
      .city {
        border: 1px solid #d82d8b;
        color: #d82d8b;
        border-radius: 4px;
        padding: 5px 15px;
        cursor: pointer;
      }
    }

    .brands-list {
      .brand-item {
        cursor: pointer;
        width: 62px;
        img {
          border: 1px solid #bcbaba;
          opacity: 0.8;

          padding: 3px;
          border-radius: 10px;
          &.active {
            border: 1px solid #d82d8b;
            opacity: 1;
          }
        }

        p {
          opacity: 0.8;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.active {
            color: #d82d8b;
            font-weight: bold;
            opacity: 1;
          }
        }
      }
    }

    .search {
      input {
        height: 40px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        background: transparent url(#{$icon-search-svg}) no-repeat right;
        background-origin: content-box;
        background-color: #fbfafa;
      }
    }

    .cinema-list {
      a {
        color: black;
        text-decoration: none;
      }

      height: 550px;
      overflow-y: scroll;
      .cinema-item {
        padding: 12px;
        border-bottom: 1px solid #e5e5e5;
        img {
          width: 40px;
          height: 40px;
          border: 1px solid #e5e5e5;
          border-radius: 5px;
        }
        > div {
          p {
            font-size: 14px;
            opacity: 0.65;
            text-overflow: ellipsis;
            overflow: hidden;
            width: calc($size-cinema - 150px);
            white-space: nowrap;
          }
        }
      }
    }
  }
  .divider {
    border-bottom: 1px solid #e5e5e5;
  }
}
