@mixin set-line-paragraph($line, $word-space-px) {
  word-spacing: $word-space-px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  line-clamp: $line;
  -webkit-box-orient: vertical;
}
.cineplex-detail {
  .cineplex-detail__info {
    min-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all 0.2s ease-in-out;

    .bg-blur {
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .title {
      color: white;
      z-index: 10;
      img {
        width: 100px;
        height: 100px;
      }
      h1 {
        letter-spacing: 2px;
      }
      p {
        @include set-line-paragraph(1, 2px);
        opacity: 0.8;
        font-size: 16px;
        line-height: 2;
      }
      span {
        cursor: pointer;
        color: rgba(170, 202, 253, 0.8);
        transition: all 0.2s ease-in;
        &:hover {
          opacity: 1;
          color: rgba(130, 163, 217, 0.9);
        }
      }
    }
  }

  > h1 {
    margin-top: 50px;
    color: #d82d8b;
  }

  .cineplex-detail__schedule {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgb(20 16 11 / 7%);
    min-height: 300px;
    width: 800px;
    margin: 30px auto 50px auto;

    .date-list {
      border-bottom: 1px solid #e5e5e5;
      .date-item {
        cursor: pointer;
        border: 1px solid #e5e5e5;
        border-radius: 6px;
        height: 60px;
        width: 65px;
        .day-number {
          height: 35px;
          background-color: #f5f5f5;
        }
      }
      .active {
        .day-number {
          color: white;
          background-color: #d82d8b;
          border: 1px solid #d82d8b;
        }
        .day-full {
          color: #d82d8b;
        }
      }
    }

    .film-list {
      .film-item {
        border-bottom: 1px solid lightgray;
        .logo {
          cursor: pointer;
          border-radius: 5px;
          min-width: 20%;
          width: 20%;
          overflow: hidden;

          img {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .film-info {
          .age {
            padding: 2px 8px;
            box-sizing: border-box;
            border-radius: 2px;
            color: white;
            font-size: 11px;
            margin-bottom: 8px;
            display: inline-block;
          }

          .age-p {
            background-color: rgb(87, 155, 65);
          }
          .age-13 {
            background-color: rgb(221, 188, 63);
          }
          .age-16 {
            background-color: rgb(232, 128, 33);
          }
          .age-18 {
            background-color: rgb(155, 32, 32);
          }

          .film-name {
            font-weight: 600;
          }

          .film-category {
            opacity: 0.5;
            margin-bottom: 12px;
          }

          .schedule-list {
            .schedule {
              cursor: pointer;
              border: 1px solid #0284c7;
              border-radius: 6px;
              color: #0284c7;
              margin-bottom: 12px;
              margin-right: 12px;

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}
