.blog {
  > div {
    .title {
      h1 {
        color: #d82d8b;
      }
    }

    .nav {
      background: #fafafa;
      border-bottom: 1px solid rgb(210, 210, 210);

      a {
        color: #000;

        &.active {
          border-bottom: 3px solid #d82d8b;
          font-weight: bold;
        }
      }
    }
  }
}
