$bg-header-view: rgba(255, 255, 255);
$bg-header-opacity: rgba(255, 255, 255, 0.8);
$btn-nav-color: #d82d8b;

.header {
  > div {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    top: 0;
    z-index: 100;
    backdrop-filter: blur(8px);
    background: $bg-header-opacity;

    &:hover {
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
      backdrop-filter: none;
      background: $bg-header-view;
    }
  }
  .brand {
    img {
      width: 40px;
      height: 40px;
    }
    padding: 4px;
    cursor: pointer;
    span {
      color: #d82d8b;
    }
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }

  .nav {
    button {
      background: 0;
    }
    a,
    button {
      color: #000;
      border-bottom: 3px solid transparent;
      &:hover {
        transition: all 0.3s ease-in-out;
        color: $btn-nav-color;
      }
      &.active {
        font-weight: bold;
        color: $btn-nav-color;
        border-bottom-color: $btn-nav-color;
      }
    }
  }
}
