.user-profile {
  background: #fafafa;
  .header-profile {
    .banner {
      background: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 180px;
      border-top-left-radius: 100px;
      i {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.473);
        bottom: 10px;
        right: 10px;
        transition: all 0.2s linear;
        &:hover {
          background: rgba(255, 255, 255, 0.818);
        }
      }
    }
    .title {
      background: rgba(67, 147, 227, 0.2);
      $size-avatar: 150px;
      .avatar {
        width: $size-avatar;
        bottom: 25%;
      }

      .info {
        margin-left: $size-avatar;
        h2 {
          overflow: hidden;
          white-space: nowrap;
          border-right: 0.25rem solid #fff;
          font-weight: 700;
          letter-spacing: 2px;
          animation: typing 6s steps(40) infinite, blinking 1s infinite;
        }

        @keyframes typing {
          0%,
          100% {
            width: 0;
          }

          50%,
          90% {
            width: 100%;
          }
        }

        @keyframes blinking {
          0%,
          100% {
            border-color: transparent;
          }

          50% {
            border-color: #fff;
          }
        }
      }

      button {
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.818);
        }
      }
    }
  }

  .main-profile {
    .numbers::-webkit-outer-spin-button,
    .numbers::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    @mixin styleBtnCus($color, $bg, $bg-hover) {
      transition: all 200ms ease-in;
      border: none;
      cursor: pointer;
      color: $color;
      background: $bg;
      &:hover {
        background: $bg-hover;
      }
    }

    .btnOpenChangePass {
      @include styleBtnCus(#fff, rgba(0, 96, 240, 0.737), #055fe8);
    }
    .btnDisChange {
      @include styleBtnCus(#44566c, #fff, #e2e6ea);
    }

    .btnChangePass {
      @include styleBtnCus(#fff, #ea1d61aa, #f21861);
    }

    .item {
      background: #fff;
      box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 34%);
      h4 {
        border-bottom: 1px solid #eeeeee;
        padding: 0 20px 10px 20px;
      }

      input,
      textarea {
        font-size: 16px;
        border-radius: 4px;
        background: #fafafa;
        border: 1px solid #eeeeee;
        padding: 10px;
        line-height: 25px;
        outline: none;
      }
      textarea {
        overflow-wrap: normal;
        overflow-y: hidden;
      }

      .numbers {
        font-family: inherit;
        font-weight: 800;
        font-size: 0.85em;
        padding: 5px;
      }
      .icon-social {
        span {
          background: #f3f6f6;
        }
        :nth-child(1) {
          color: #1773ea;
        }
        :nth-child(2) {
          .fab {
            background: #d6249f;
            background: radial-gradient(
              circle at 30% 107%,
              #fdf497 0%,
              #fdf497 5%,
              #fd5949 45%,
              #d6249f 60%,
              #285aeb 90%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        :nth-child(3) {
          color: #1c9cea;
        }
      }
    }
    .lst-items-ordered {
      // height: 500px;
      overflow-y: auto;
      thead {
        border-bottom: 2px solid lightgray;
      }
      th {
        padding: 10px 0;
      }
      td {
        text-align: center;
        padding: 10px 0;
        .image {
          border-radius: 8px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
      tr {
        border-bottom: 2px dashed lightgray;
      }
    }
  }
}
