.btnMore {
  a {
    text-decoration: none;
    padding: 6px 30px;
    color: #fb4226;
    background: #fff;
    border: 1px solid #fb4226;
    border-radius: 999px;
    cursor: pointer;
    margin: 10px 0;
    display: inline-block;

    &:hover {
      color: #fff;
      background: #fb4226;
    }
  }
}

.blogSize,
.promotionSize {
  width: 1200px;
}

.more-info {
  .blog-preview {
    background: blanchedalmond;
    .blogSize > div {
      h3 {
        color: #d82d8b;
      }
      .nav button {
        background: 0;
        &:hover {
          color: #d82d8b;
        }
        &.active {
          color: #d82d8b;
          border-bottom: 2px solid #d82d8b;
        }
      }
    }
    .list-blog {
      .item-blog {
        p:first-of-type {
          font-weight: bold;
          &:hover {
            color: #d82d8b;
          }
        }
        p:last-child {
          margin-top: auto;
        }
      }
    }
  }
  .promotion {
    h3 {
      color: #d82d8b;
    }
    .list-promotion {
      .item-promotion {
        cursor: pointer;
        > div {
          border-radius: 15px;
          box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
          border-left: 1px solid rgba(0, 0, 0, 0.3);
          img {
            border-radius: 15px 15px 0 0;
          }
          p:first-of-type {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          p:last-child {
            font-size: 12px;
            color: rgb(146, 146, 146);
          }
          &:hover {
            box-shadow: 2px 2px 12px 0px rgb(0 0 0 / 30%);
          }
        }
      }
    }
  }
}
