.payment-page {
  background: #fafafa;
  > div {
    box-shadow: 0px 0px 12px 2px rgb(0 0 0 / 25%);
    border-radius: 10px;
  }
  .divider-dash {
    border-bottom: 1px dashed;
  }
  .checkout {
    border-right: 2px dashed #d82d8b;
    border-radius: 10px 0 0 10px;
    background: #fff;
    h5 {
      font-size: 12px;
      color: #737373;
      text-transform: uppercase;
      line-height: 18px;
    }
    h3 {
      line-height: 26px;
    }
    p {
      line-height: 20px;
      color: #737373;
    }
    .title {
      span {
        color: #fff;
        border-radius: 20px;
      }
      .age-p {
        background-color: rgb(87, 155, 65);
      }
      .age-13 {
        background-color: rgb(221, 188, 63);
      }
      .age-16 {
        background-color: rgb(232, 128, 33);
      }
      .age-18 {
        background-color: rgb(155, 32, 32);
      }
    }
  }
  .payment {
    border-radius: 0 10px 10px 0;
    background: #fff0f6;
    h5 {
      text-transform: uppercase;
      font-size: 15px;
      line-height: 18px;
    }
    input {
      border-radius: 10px;
      font-size: 14px;
    }
    details {
      summary {
        cursor: pointer;
      }
      button {
        border: 2px solid;
        background: #d82d8bb0;
        color: #fafafa;
        border-radius: 4px;
        &:hover {
          background: #d82d8b;
          border: 2px solid #d82d8bb0;
        }
        transition: all 0.3s ease-in-out;
      }
    }
    .radios {
      .btn-radio {
        background-color: #fefdfe;
        border-radius: 8px;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.0625);
        img {
          border-radius: 4px;
          width: 24px;
        }
        .icon {
          block-size: 24px;
          display: inline-block;
          fill: currentColor;
          inline-size: 1em;
          vertical-align: middle;
        }
      }
    }
    .btn-payment {
      background-color: #d82d8bc8;
      border: 2px solid #fff;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 2px;
      color: #f4f5f9;

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        background: #e42890;
        border: 2px solid #fff;
      }
      &:focus {
        outline: 0;
      }
    }

    .btn-payment span {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &::after {
        content: "→";
        color: #f4f5f9;
        position: absolute;
        opacity: 0;
        top: 0;
        right: -40px;
      }
    }
    .btn-payment:hover span {
      padding-right: 45px;
    }

    .btn-payment:hover span:after {
      opacity: 1;
      right: 0;
    }
  }
}
