.each-slide > div {
  background-size: cover;
  // background-repeat: no-repeat;
  height: 80vh;
}

.each-slide div {
  font-size: 75px;
  color: white;
  cursor: pointer;
}

.indicator {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 1px #666 solid;
  margin: 0;
}

.indicator.active {
  color: #fff;
  background: #666;
}

.prevArrow, .nextArrow {
  width: 25px;
  background: none;
  border: 0px;
  color: rgba(192, 192, 192, 0.6);
  font-size: 40px;
  margin: 0px 20px;

  &:hover {
    color: #fff;
  }
}