.item-movie {
  > div {
    cursor: pointer;
    overflow: hidden;
    i {
      z-index: 12;
      display: none;
      font-size: 60px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    img {
      transition: transform 0.5s ease;
    }
  }
  .content {
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
  .btn-movie {
    border: 0;
    display: none;
    color: #fff;
    background: #fb4226;
    border-radius: 4px;
    cursor: pointer;
  }

  &:hover {
    img {
      display: block;
      transform: scale(1.1);
      opacity: 0.8;
    }

    i {
      display: block;
      color: #fafafa;
    }

    .content {
      display: none;
    }
    .btn-movie {
      display: block;
      border: 0;
    }
  }
}
