.consession {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.5);

  &.show {
    display: flex;
  }
  .main {
    background: #fafafa;
    max-width: 800px;
    max-height: 100%;
    .header-consession {
      background: rgb(216 45 139);
      letter-spacing: 2px;
      color: #fff;
      border-radius: 15px 15px 0 0;
      flex-shrink: 0;
    }
    .list-consession {
      overflow: auto;
      flex: 1 1 0%;
      .item {
        .imgItem {
          width: 150px;
          img {
            object-fit: contain;
          }
        }
        .content {
          .counter {
            span {
              border: 1px solid gray;
              border-radius: 10px;
            }
            button {
              background: 0;
              border: 0;
              &:not(:disabled) {
                color: #d82d8b;
              }
            }
          }
        }
      }
    }
    .footer-consesion {
      flex-shrink: 0;
      border-top: 1px solid rgb(229 229 229);
      border-radius: 0 0 15px 15px;
      a,
      .btn {
        cursor: pointer;
        background: #d82d8b;
        color: #fff;
      }
    }
  }
}
